.md-popup_login {
    width: r(600);
    height: r(510);
    background-color: #fff;
    border-radius: r(8);
    overflow: hidden;
    position: absolute; // 弹出层使用absolute防止输入框光标下移
    top: 50%;
    left: 50%;
    transform: translate3d( -50%, -50%, 0 );
    h2 {
        font-size: .34rem;
        font-weight: 700;
        text-align: center;
        margin-top: .35rem;
    }
}

.md-popup_close {
    position: absolute;
    right: .3rem;
    top: .3rem;
    z-index: 5;
    width: .5rem;
    height: .5rem;
    overflow: hidden;
    &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
        border-top: r(2) solid #979797;
        width: r(40);
        overflow: hidden;
    }
    &:before {
        transform: translateX(-50%) rotate(135deg);
    }
    &:after {
        transform: translateX(-50%) rotate(45deg);
    }
}

// 登陆表单样式
.md-popup_login_form {
    ul {
        margin: r(20) r(50) 0;
    }
    li {
        position: relative;
    }
    input {
        box-sizing: border-box;
        padding: r(34) r(40) r(34) 0;
        border: none;
        width: 100%;
        height: r(110);
        font-size: r(28);
        color: #000;
    }
    .get-captch {
        position: absolute;
        width: r(158);
        height: r(43);
        text-align: center;
        line-height: r(43);
        font-size: r(24);
        color: #13c8a1;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
    }
    a {
        display: block;
        width: r(520);
        height: r(88);
        line-height: r(88);
        border-radius: r(8);
        background-color: #12c8a2;
        text-align: center;
        color: #fff;
        margin: r(50) auto 0;
    }
}