.opacity-enter {
    opacity: 0;
}

.opacity-enter-done {
    opacity: 1;
    transition: opacity 300ms;
}

.opacity-exit {
    opacity: 1;
}

.opacity-exit-active {
    opacity: 0;
    transition: opacity 500ms;
}

.slide-enter {
    transform: translate3d(-50%, -300%, 0) !important;
}

.slide-enter-done {
    transform: translate3d(-50%, -50%, 0) !important;
    transition: transform 300ms;
}

.slide-exit {
    transform: translate3d(-50%, -50%, 0) !important;
}

.slide-exit-active {
    transform: translate3d(-50%, 300%, 0) !important;
    transition: transform 500ms;
}