@import './core';
@import './animation';
@import './_components/popup';

.f72{font-size:r(72); }

.green{color: #48D5AB; }

body,
html { color: #333; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; -webkit-tap-highlight-color: rgba(0, 0, 0, 0); font-size: r(24); font-family: PingFangSC, microsoft yahei; min-height: 100%; }

a,
input,
button { outline: none; font-family: PingFangSC-Medium, microsoft yahei; }

img { vertical-align: middle; }

.body-fix { position: fixed; left: 0; top: 0; width: 100%; height: 100%; overflow: hidden; }

.semibold { font-family: PingFangSC-Semibold; }
.medium { font-family: PingFangSC-Medium; }

.subject-header { height: r(70); background-color: rgba(0, 0, 0, 0.5); width: r(70); position: fixed; left: r(20); top: r(20); z-index: 100; border-radius: 50%; 
    .arrow-back { height: r(70); width: r(70); position: relative; display: inline-block; }
    .arrow-back:after { position: absolute; content: ' '; width: r(25); height: r(25); border-top: r(4) #fff solid; border-left: r(4) #fff solid; transform: rotateZ(-45deg); -webkit-transform: rotateZ(-45deg); left: r(30); top: r(20); }
}

.template-weixin-mask { position: fixed; right: 0; top: 0; height: 100%; width: 100%; z-index: -1; display: none; 
    img { width: r(423); height: r(273); float: right; margin: r(28) r(24) 0 0; }
}

.weixin-mask-on { display: block; z-index: 999; }

.template-loading { z-index: 10000; position: fixed; left: 0; top: 0; width: 100%; height: 100%; background-color: #fff; 
    .loading-logo { background: url(https://static.zhongan.com/website/other/html/actBox/images/ab/loading.gif) no-repeat center center; background-size: r(140) r(140); width: r(140); height: r(140); -webkit-transform: translate3d(-50%, -50%, 0); transform: translate3d(-50%, -50%, 0); left: 50%; top: 50%; position: absolute; }
}

/* popup begin */

div.ui-mask-on { background-color: rgba(0,0,0,0.6); }
/* popup end */

/* index page start */
.counter {
    margin-top: r(200);
    text-align: center;
    font-size: r(28);
}
button {
    margin: 0 r(20);
    font-size: r(28);
}